@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*
{
    color: #212121 !important; 
    font-family: 'Outfit', sans-serif !important;
    font-size: 1.7rem;
}
:root
{
    --white: #fff;
    --black: #222;
    --grey: #c1c1c1;
    --orange: #ff5400;
}
.uk-section
{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.title
{
    text-transform: capitalize;
    text-align: center;
    font-size: 5rem;
}
.title span
{
    color: var(--orange) !important;
    font-size: 5rem;
}
.uk-dotnav>*>* 
{
    border: 1px solid var(--orange) !important;
}
.uk-dotnav>.uk-active>* {
    background-color: var(--orange) !important;
    border-color: transparent;
}